@page
@model todolist.Pages.CreateModel
@{
    ViewData["Title"] = "Create Task";
}

<form method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input class="form-control" name="title">
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <input class="form-control" name="description">
    </div>

    <div class="mb-3">
        <label>Limit Date
            <input type="date" name="limitdate">
        </label>
    </div>

    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="status">
        <option selected>Status</option>
        <option value="todo">Todo</option>
        <option value="doing">Doing</option>
        <option value="done">Done</option>
    </select>
    <button type="submit" class="btn btn-primary">Create</button>
</form>